@use "@utils-scss" as *;

.footer {
    background-color: color("level 1");
    @include spacing(padding, y, 48px);
    @include respond-to(tablet) {
        @include spacing(padding, y, 56px);
    }
    @include respond-to(desktop) {
        @include spacing(padding, y, 80px);
    }
    &__container {
        @include flex(on, column);
        @include respond-to(tablet) {
            @include grid(on, repeat(2, auto), repeat(2, auto), "content nav" "copyright copyright", $justify-content: space-between);
        }
    }
    &__content {
        grid-area: content;
        @include flex(on, column, $gap: 32px);
    }
    &__logo {
        @include size(default, 130px, 40px);
    }
    &__social-media {
        @include flex(on, $gap: 16px);
    }
    &__nav {
        grid-area: nav;
        @include spacing(margin, y, 48px);
        @include respond-to(tablet) {
            @include size(default, 332px);
            @include spacing(margin, all, 0px);
        }
        @include respond-to(desktop) {
            @include spacing(margin, right, 110px)
        }
    }
    &__list {
        @include respond-to(tablet) {
            @include grid(
                on,
                repeat(4, auto),
                repeat(2, auto),
                "item-1 item-5" "item-2 item-6" "item-3 item-7" "item-4 item-4",
                $justify-content: space-between,
            );
        }
    }
    &__item {
        @include flex(on, $align-items: center);
        @include size(default, 154px, 48px);
        @for $i from 1 through 7 {
            &:nth-child(#{$i}) {
                grid-area: item-#{$i};
            }
        }
    }
    &__copyright {
        grid-area: copyright;
        @include respond-to(tablet) {
            @include size(default, 332px);
            @include spacing(margin, top, 46px);
        }
        @include respond-to(desktop) {
            @include size(default, 440px);
        }
    }
}
