@use "@utils-scss" as *;

.text {
    &-black {
        line-height: 1.8;
        @extend %text-black;
        &-small {
            line-height: 1.8;
            @extend %text-black-small;
        }
    }
    &-white {
        line-height: 1.8;
        @extend %text-white;
        &-small {
            line-height: 1.8;
            @extend %text-white-small;
        }
    }
}