@use "sass:map";
@use "sass:list";
@use "sass:math";
@use "sass:meta";

$colors-map: (
    "base": #000000,
    "level_1": #181823,
    "light grey": #DEECF9,
    "dark grey": #C7E0F4,
    "text": #FFFFFF,
    "primary": #5221E6,
    "green accent": #3CC74E,
    "pink accent": #E95D90,
    "peach accent": #FFF3E4,
    "violet accent": #FBE4FF,
);

$font-weights-map: (
    "thin": 100,
    "extra-light": 200,
    "light": 300,
    "regular": 400,
    "medium": 500,
    "semi-bold": 600,
    "bold": 700,
    "extra-bold": 800,
    "black": 900,
    "extra-black": 1000
);

$breakpoints-map: (
    tablet: 768px,
    desktop: 1440px
);

