@use "../configuration/configuration.scss" as *;

body {
    background-color: color("base");
}

.container {
    @extend %container;
}

.heading-container {
    @include flex(on, column, $gap: 8px);
    &__subheading {
        @extend %subheading;
    }
}

.heading-second {
    &-white {
        @extend %heading-second-white;
    }
    &-black {
        @extend %heading-second-black;
    }
}

.heading-third {
    @extend %heading-third;
}

.text {
    &-black {
        @extend %text-black;
    }
    &-white {
        @extend %text-white;
    }
}

.link {
    &-black {
        @extend %link-black;
        text-decoration: underline;
        &:hover {
            text-decoration: underline;
        }
    }
}